@charset "UTF-8";
:root {
  --green: #3D9D56;
  --dark-green: #184725;
  --orange: #FF914D;
  --font-maj: "Comfortaa", cursive;
  --font-secundary: "Lobster Two", cursive;
  --light-green:#EAFFEF;
}

* {
  font-family: var(--font-maj);
  margin: 0;
}

h1 {
  font-family: var(--font-secundary);
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.home {
  text-decoration: none;
  color: #efefef;
}

.no-link-style {
  color: black;
  text-decoration: none; /* Cela supprimera également les soulignements des liens */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  position: relative;
  background-color: #333;
}

nav > .nav-header {
  display: flex;
  justify-content: center; /* Centrer horizontalement les éléments enfants */
  align-items: center;
}

nav > .nav-header > .icone {
  display: inline-block;
  color: #fff;
  padding: 8px 5px;
}

nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 13px 10px;
}

nav > .nav-header > .icone > img {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 0;
  height: 60px;
}

nav > .nav-btn {
  display: none;
}

nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  font-family: Comfortaa;
}

.nav-title {
  margin: 0rem;
}

nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pour espacer les éléments verticalement */
  }
  nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 8px;
  }
  nav > .nav-btn > label {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 13px;
  }
  nav > .nav-btn > label:hover, nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 9px;
    border-top: 2px solid #eee;
  }
  nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    height: 0px;
    transition: all 0.3s ease-in;
    background-color: #333;
    overflow-y: hidden;
    top: 80px;
    left: 0px;
  }
  nav > .nav-links > a {
    display: block;
    width: 85%;
    padding: 1rem 1rem;
    margin: auto;
  }
  nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 80px);
    overflow-y: auto;
  }
  .no-link-style {
    color: black;
    text-decoration: none; /* Cela supprimera également les soulignements des liens */
  }
}
/* cristobal apagnan */
.card-deck {
  background-color: #F0F0F0;
}
.card-deck .card-container {
  background-color: #fefefe;
  margin-bottom: 3rem;
  box-shadow: 0 10px 10px #BBB;
}
.card-deck .card-container .card {
  width: 80vw;
  margin: auto;
}
.card-deck .card-container .card .card-img-top {
  margin-top: 20px;
  width: 100%;
  height: 15rem;
  border-radius: 20px;
  object-fit: cover;
}
.card-deck .card-container .card .card-body {
  padding: 10px 0;
}

.titre {
  margin: 2rem auto;
  text-align: center;
  font-size: 4rem;
}

.login-form {
  padding: 20px;
  width: 80vw;
  margin: 2rem auto;
}
.login-form .form-label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-size: 14px;
}
.login-form .form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}
.login-form .form-input::placeholder {
  color: #aaa;
}
.login-form .form-input:focus {
  box-shadow: 0px 0px 5px #3D9D56;
}
.login-form .submit-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #3D9D56;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.login-form .submit-button:hover {
  background-color: #2f7842;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-account {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 3rem;
}
.create-account h2 {
  margin-bottom: 2rem;
}
.create-account .create-account-link {
  background-color: #3D9D56;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.create-account .create-account-link:hover {
  background-color: #2f7842;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.searchbar {
  width: 85%;
  margin: 20px auto;
}
.searchbar input {
  width: calc(100% - 2rem);
  padding: 1rem;
  border-radius: 50px;
  box-shadow: -5px 5px 10px #BBB;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  width: 100%;
  position: relative;
  background-color: #EAFFEF;
}

nav > .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; /* Centrer horizontalement les éléments enfants */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav > .nav-header > .icone {
  display: inline-block;
  color: #fff;
  padding: 8px 5px;
}

nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: black;
  padding: 13px 10px;
}

nav > .nav-header > .icone > a > img {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 0;
  height: 60px;
}

nav > .nav-btn {
  display: none;
}

nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: var(--dark-green);
  font-family: Comfortaa;
}

.nav-title {
  margin: 0rem;
}

nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav > #nav-check {
  display: none;
}

h1 {
  font-family: var(--font-secundary);
  color: var(--dark-green);
  text-shadow: 2px 1px var(--green);
}

footer {
  background-color: #efefef;
  color: var(--dark-green);
  padding: 2rem 1rem;
  text-align: center;
}

.footer-networks {
  padding-bottom: 0.8rem;
}

.footer-networks a {
  text-decoration: none;
  color: var(--dark-green);
  font-size: 2rem;
  padding: 0 1rem;
  transition: color 0.25s;
}

.footer-networks a:hover {
  color: var(--light-green);
  transition: color 0.25s;
}

.footer-conditions a {
  text-decoration: none;
  color: var(--dark-green);
  font-size: 1.5rem;
  font-family: var(--font-secundary);
  font-weight: bolder;
  padding: 0.3rem 0.9rem;
  border-radius: 1rem;
  transition: color 0.25s, background-color 0.25s;
}

.footer-conditions a:hover {
  background-color: var(--light-green);
  color: var(--dark-green);
  transition: color 0.25s, background-color 0.25s;
}

.footer-conditions p {
  font-weight: bolder;
  font-size: 1rem;
  padding-top: 2rem;
}

/*# sourceMappingURL=main.css.map */
