:root {
    --green: #3D9D56;
    --dark-green: #184725;
    --orange: #FF914D;
    --font-maj: 'Comfortaa', cursive;
    --font-secundary: 'Lobster Two', cursive;
}

* {
    font-family: var(--font-maj);
    margin: 0;
}

h1 {
    font-family: var(--font-secundary);
}

footer {
    background-color: var(--green);
    color: var(--orange);
    padding: 2rem 1rem;
    border-top: 2px solid var(--orange);
    text-align: center;
}

.footer-networks {
    padding-bottom: 0.8rem;
}

.footer-networks a {
    text-decoration: none;
    color: var(--orange);
    font-size: 2rem;
    padding: 0 1rem;
    transition: color 0.25s;
}

.footer-networks a:hover {
    color: var(--dark-green);
    transition: color 0.25s;
}

.footer-conditions a {
    text-decoration: none;
    color: var(--orange);
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    font-weight: bolder;
    border: 2px solid var(--orange);
    padding: 0.3rem 0.9rem;
    border-radius: 1rem;
    transition: color 0.25s, background-color 0.25s;
}

.footer-conditions a:hover {
    background-color: var(--orange);
    color: var(--dark-green);
    transition: color 0.25s, background-color 0.25s;
}

.footer-conditions p {
    font-weight: bolder;
    font-size: 1rem;
    padding-top: 2rem;
}

.decoration-barre {
    height:2px;
    width:100%;
    background-color:var(--orange);
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}